<div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h4>Links Úteis</h4>
        <ul>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Termos e Condições</a></li>
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Métodos de Pagamento</h4>
        <ul class="payment-methods">
          <li><img src="assets/icons/visa.svg" alt="Visa"></li>
          <li><img src="assets/icons/mastercard.svg" alt="Mastercard"></li>
          <li><img src="assets/icons/paypal.svg" alt="PayPal"></li>
          <li><img src="assets/icons/bitcoin.svg" alt="Bitcoin"></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Prêmios e Distinções</h4>
        <ul class="awards">
          <li><img src="assets/images/award1.png" alt="Award 01"></li>
          <li><img src="assets/images/award2.png" alt="Award 2"></li>
          <li><img src="assets/images/award3.png" alt="Award 3"></li>
        </ul>
      </div>
    </div>
  
    <div class="footer-copyright">
      <p>&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
    </div>
  </div>
  