<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Data/Horário</th>
            <th scope="col">Campeonato</th>
            <th scope="col">Jogos</th>
            <th scope="col">Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partida of partidas"> 
            <td>{{ partida.dataPartida | date: 'short' }}</td>
            <td>{{ partida.campeonato.nome}}</td>
            <td>{{ partida.timeCasa.nome }} X {{ partida.timeFora.nome }}</td>
            <td>
              <button class="btn btn-success" (click)="selecionarResultado(partida, 'casa')">Casa</button>
              <button class="btn btn-warning" (click)="selecionarResultado(partida, 'empate')">Empate</button>
              <button class="btn btn-danger" (click)="selecionarResultado(partida, 'fora')">Fora</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="confirmarAposta()">Confirmar Aposta</button>
    </div>
  </div>