.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #137a5a;
    padding: 20px;
    color: #b30606;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-logo img {
    width: 150px;
    height: 50px;
  }
  
  .header-navigation {
    display: flex;
    flex: 1;
    justify-content: flex-start; /* Alinha os itens de navegação à esquerda */
  }
  
  .header-navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-navigation li {
    margin-right: 20px; /* Ajuste conforme necessário para espaçamento desejado */
  }
  
  .header-navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  .header-navigation a:hover {
    color: #ddd;
  }
  
  .header-navigation a:focus {
    outline: 2px solid #FFFFFF;
    outline-offset: 2px;
  }
  
  .header-actions {
    display: flex;
  }
  
  .header-actions button {
    background-color: #FFFF00;
    color: #060606;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .header-actions button:hover {
    background-color: #8c8809;
  }
  
  .header-actions button:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
  }
  
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .header-navigation {
      width: 100%;
      justify-content: flex-start;
    }
  
    .header-navigation ul {
      flex-direction: column;
      width: 100%;
    }
  
    .header-navigation li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .header-actions {
      width: 100%;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
  