<div class="header-container">
    <div class="header-logo">
      <!-- Adicione a imagem do logo aqui -->
      <img src="../../assets/img/bet.png" alt="Logo">
    </div>
  
    <div class="header-navigation">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/sala-vip" routerLinkActive="active" ariaCurrentWhenActive="page">Sala Vip</a></li>
        <li><a routerLink="/sala-internacional">Sala Internacional</a></li>
        <li><a routerLink="/aposta-casada" routerLinkActive="active" ariaCurrentWhenActive="page">Aposta Casada</a></li>
        <li><a routerLink="/ranking" routerLinkActive="active" ariaCurrentWhenActive="page">Ranking</a></li>
        <li><a routerLink="/resultados" routerLinkActive="active" ariaCurrentWhenActive="page">Resultados</a></li>
      </ul>
    </div>
  
    <div class="header-actions">
      <button class="btn-login">Entrar</button>
      <button class="btn-register">Registrar</button>
    </div>
  </div>
  